body {
    background-color: lightgray;
    text-align-all: center;
}
#ACMElogo{
    padding-left:10px;
    float:left;
    height: 10px;
    width: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}

.active {
    background-color: #4d94ff;
    text-decoration: none;
}

/*this is the styling for the jumbotron*/
.jumbotron {
    background-image: url("http://www.va.gov/osdbu/images/businessMeeting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0px;
    padding: 0px;;
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}
/*
nav {
    border: solid thin;
    border-color: #333333;
    background: #333333;
    height: 55px;
    position: relative;
    margin: -10px;

}

nav li {
    display: inline;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
    padding-right: 20px;
}

nav ul li a:link, nav ul li a:visited {
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: -17.25px;
    padding: 17px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;

}

nav ul li a:hover, nav ul li a:active {
    background-color: #4d4d4d;
}

.btn {
    border-radius: 0px 5px 5px 0px;
    color: white;
    background: #4d4d4d;
    margin-top: -17.8px;
    margin-left: -5.5px;
    padding: 5px 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #333333; border-right:0px;
    background: #4d4d4d;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.form-control {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#666;
    border:1px solid #333333; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    width: 20em;
}