body {
    background-color: lightgray;
    text-align-all: center;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    float: left;
    width: 5em;
    text-align: right;}
input {
    margin-left: 1em;
    margin-bottom: .5em;}

.login {
    background-color: #3cb0fd;
    border: 2px solid black;
    margin-top: 20px;
    width: 300px;
    padding: 20px 10px 10px 10px;
    margin-left:33%;
    margin-right:33%;
    text-align: center;

}
#button {
    margin-left: 7em;}


#ACMElogo{
    padding-left:10px;
    float:left;
    height: 10px;
    width: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}

.active {
    background-color: #4d94ff;
    text-decoration: none;
}